@font-face
{
    font-family : myfont1;
    src :url('../fonts/GE_SS_Two_Bold.otf')
}
@font-face
{
    font-family : myfont2;
    src :url('../fonts/DroidKufi-Regular.ttf')
}

/*Default width for pop up editor window: 400px, below is for handling pop up editor in smaller screen*/

/*Phone width 360px*/
@media (max-width:360px) {
    .k-edit-form-container {
        width: 360px;
    }
}
/* iPhone4, iPhone5 width 320px*/
@media (max-width:320px) {
    .k-edit-form-container {
        width: 320px;
    }
}
/* iPhone6/7/8 width 375px*/
@media (max-width:375px) {
    .k-edit-form-container {
        width: 375px;
    }
}
@media (max-width:420px) {
    .actionColumn {
        width: 50px;
    }
}

.k-edit-form-container {
    width: 100%;
}



/*Image inside grid*/
.imageInGrid {
    display: inline-block;
    width: 40px;
    height: 40px;
    transition: transform .2s;
    background-size: 40px 35px;
    background-position: center center;
    vertical-align: middle;
    line-height: 40px;
    box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
}


/*for form input which is a required field, put a red asterik behind the label*/
.required:after {
    content: ' *';
    display: inline;
    color: red;
    font-size: large;
}

.form-container {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3),0 2px 8px 0 rgba(0,0,0,0.3) !important;
}

.btn-custom {
    background-color: #428bca;
    color: white;
}

  

.btn-custom-secondary {
    background-color: #5bc0de;
    color: white;
}
   

/*Layout*/
body {
    padding-top: 41px;
    padding-bottom: 0px;
}
.tit
{
    font-family: myfont2;
    font-size: 22px;
    padding-left : 20px
}
html, body, h1, h2, h3, h4, h5 {
    font-family: myfont2;
}

.container {
    padding: 0px;
    margin: 0px;
}

@media only screen and (min-width: 768px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

a:hover {
    text-decoration: none;
}

.well{
    background-color:white;
}

.section-title-custom {
    border-color: dimgray;
    padding-top: 8px !important;
    padding-bottom: 16px !important;
    border-bottom: 6px solid dimgray !important;
    font-size: 24px !important;
}

.breadcrumb-item {
    font-size: 22px;
    font-weight: bold;
}

.active-breadcrumb-item {
    color: #3f51b5;
}

.k-textbox{
    width:100%;
    border-color:#ccc;
}

.k-grid tbody .k-button {
    min-width: 10px; /*original 64px*/
}

.forTooltips {
    font-size: 20px;
}

/*--------------------Grid Column Header CSS----------------*/
.k-grid .k-grid-header th.k-header {
    font-weight: bold;
    white-space: normal;
    overflow: visible;
    word-wrap: break-word;
}

/*used in detail template for grid*/
dt{
    font-weight:normal;
}

/*if screen width smaller or equal to ipad width 768px, change form label text-align to left*/
@media (max-width: 768px) {
    .form-horizontal .control-label {
        text-align: left;
    }
}

/*override style of bootstrap 3 panel*/
.panel {
    margin: 0px 32px 0px 32px;
}

@media (max-width:376px) {
    .panel {
        margin: 0px;
    }
}

.img-responsive {
    width: 200px;
    height: 200px;
}

.btn-custom {
    background-color: #3f51b5;
    color: white;
}

    .btn-custom:hover {
        background-color: transparent;
        border: 1px solid #3f51b5;
        color: #3f51b5;
    }
    .btn-custom:active {
        color: white;
    }

    .btn-custom:focus {
        color: white;
    }

    .btn-menu {
        background-color: transparent;
        color: white;
    }
    .btn-menu:hover {
        border: 1px solid #2196F3;
        color: #2196F3;
    }

.menu-item {
    color: white;
}

    .menu-item:hover {
        color: #2196F3;
    }

.dashboard-title-container {
    background: white;
    border-radius: 8px;
    padding: 0.01em 16px;
}

.answered {
    background-color: forestgreen;
    color: white;
}

.notAnswered {
    background-color: darksalmon;
    color: white;
}

.answeredCorrect {
    background-color: limegreen;
    color: white;
}

.answeredWrong {
    background-color: red;
    color: white;
}

/*Create Question & Answer's Stepper*/
.stepwizard-step p {
    margin-top: 0px;
    color: #666;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
}

.stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
    opacity: 1 !important;
    color: #bbb;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px;
}

.btn-active {
    background-color: #3f51b5;
}

.center-block{
    float:none;
}

/*Logo css*/
.logoLeftNav{
    width:70px;
}

.logoTopNavBar{
    width:60px;
    height:30px;
}

/*------------------------------------Export to excel or pdf CSS------------------------------------*/

/* Page Template for the exported PDF */
.page-template {
    font-family: "DejaVu Sans", "Arial", sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

    .page-template .header {
        position: absolute;
        top: 30px;
        left: 30px;
        right: 30px;
        border-bottom: 1px solid #888;
        color: #888;
    }

    .page-template .footer {
        position: absolute;
        bottom: 30px;
        left: 30px;
        right: 30px;
        border-top: 1px solid #888;
        text-align: center;
        color: #888;
    }

.k-group-footer {
    display: none;
}

.textNextToImage {
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
    padding-left: 3px;
}

.k-pdf-export .k-grid-toolbar,
.k-pdf-export .k-pager-wrap,
.k-pdf-export .k-command-cell,
.k-pdf-export .k-grid-filter, .k-pdf-export .actionColumn {
    display: none;
}
